---
import NavLink from './NavLink.astro'
---

<div
   class="mb-8 container mx-auto px-12 py-3 rounded-b-2xl flex justify-between items-end bg-light-300 shadow-sm"
>
   <ul class="flex gap-8 text-xl">
      <NavLink title="首页" link="/" />
      <NavLink title="博客" link="/blogs" />
      <NavLink title="关于" link="https://www.baidu.com" />
   </ul>
</div>
