---
import NavLink from './NavLink.astro'
---

<div
   class="border border-b-2 border-primary-600 w-full px-8 py-4 flex justify-between items-end bg-light-300"
>
   <ul class="flex gap-8 text-xl">
      <NavLink title="首页" link="/" />
      <NavLink title="博客" link="blogs" />
      <NavLink title="关于" link="https://www.baidu.com" />
   </ul>
</div>
