---
import BaseLayout from './BaseLayout.astro'
import '../styles/blogStyle.scss'
const { title } = Astro.props
---

<BaseLayout>
   <div
      class="container blog-container mx-auto px-12 py-2 flex flex-col gap-10"
   >
      <!-- <h1 class="text-4xl font-bold text-center">{title}</h1> -->
      <slot />
   </div>
</BaseLayout>
